# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Reading in the csv file created from the WeatherPy portion.
data_raw = pd.read_csv("..\WeatherPy\output_data\cities.csv")
data_raw = data_raw.set_index("city_id")
data_raw.index.name = None
data_raw.head()

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed
0,New Norfolk,67,AU,1619134730,61,-42.7826,147.0587,53.01,4.00
1,São Filipe,54,CV,1619134731,72,14.8961,-24.4956,72.61,9.80
2,Liverpool,9,GB,1619134702,54,53.4106,-2.9779,51.80,6.91
3,Bredasdorp,1,ZA,1619134734,93,-34.5322,20.0403,51.80,2.30
4,Kumul,99,CN,1619134537,31,42.8000,93.4500,46.02,6.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# An API key assignment is necessary to configure gmaps before use.  
gmaps.configure(api_key=g_key)

# Combining latitude and longitude to get coordinates.
locations = data_raw[["lat", "lng"]]
# The heatmap is going to be weighted on humidity.
weights = data_raw["humidity"]

# Zoom of 1.75 is to get the full image of the world, but not too much more.
# Center 10,0 helped cut off some unneeded ocean near the south pole.
fig = gmaps.figure(center=(10, 0), zoom_level=1.75)

# Adding heatmap_layer with our set locations and weights.  A higher max_intensity is used so that the
# entire world doesn't just show red everywhere.
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=125, dissipating=True))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

* For example:
  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
  
  **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [4]:
# Set criteria for preferred weather.
humidity_limit = 80
wind_speed_limit = 5
cloudiness_limit = 10
max_temp_min = 70
max_temp_max = 95


# Using .loc to filter the dataframe down with chosen criteria.  These changes are saved to a new dataframe.
w_criteria = data_raw.loc[data_raw["humidity"] < humidity_limit, :]
w_criteria = w_criteria.loc[w_criteria["wind_speed"] < wind_speed_limit, :]
w_criteria = w_criteria.loc[w_criteria["cloudiness"] < cloudiness_limit, :]
w_criteria = w_criteria.loc[(w_criteria["max_temp"] > max_temp_min) & (data_raw["max_temp"] < max_temp_max), :]
w_criteria

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed
109,Salalah,0,OM,1619134885,69,17.0151,54.0924,80.60,3.44
149,Yangjiang,0,CN,1619134943,78,21.8500,111.9667,76.53,2.57
218,Doha,0,QA,1619135045,53,25.2867,51.5333,82.99,1.14
324,Noumea,0,NC,1619135198,74,-22.2763,166.4572,82.00,3.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# The criteria dataframe is saved to hotel_df as requested.  
hotel_df = w_criteria
# Adding blank column "Hotel Name".
hotel_df["Hotel Name"] = ""
hotel_df

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed,Hotel Name
109,Salalah,0,OM,1619134885,69,17.0151,54.0924,80.60,3.44,
149,Yangjiang,0,CN,1619134943,78,21.8500,111.9667,76.53,2.57,
218,Doha,0,QA,1619135045,53,25.2867,51.5333,82.99,1.14,
324,Noumea,0,NC,1619135198,74,-22.2763,166.4572,82.00,3.44,

In [6]:
# Base url of the google places api.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# Creating dictionary of the parameters desired for our search.  
# Location is added later with a new value each time it's looped through.
param = {

    "type": "lodging",
    "radius": 5000,
    "key": g_key
    
}

# looping through each row of the hotel_df dataframe.
for index, row in hotel_df.iterrows():
    
    # Assigning variables to a column of the current row.
    lat = row["lat"]
    lng = row["lng"]
    city = row["city"]
    # Concatinating latitude and longitude into a string and then assigning it to the
    # location list in our param dictionary.
    param["location"] = f"{lat},{lng}"
    

        
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}")
    response = requests.get(base_url, params=param).json()
    
    # extract results
    results = response["results"]
    
    # Attempt to do the following.
    try:
        print(f"Closest Hotel in {city} is {results[0]['name']}.")
        
        # In the current row of the loop, add value of results[0]['name'] to the ["Hotel Name"] column in hotel_df.
        row["Hotel Name"] = results[0]['name']
        
    
    # If one of these two errors come up do the following.
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 109: Salalah
Closest Hotel in Salalah is HAMDAN PLAZA HOTEL SALALAH.
------------
Retrieving Results for Index 149: Yangjiang
Closest Hotel in Yangjiang is HUALUXE Yangjiang City Center.
------------
Retrieving Results for Index 218: Doha
Closest Hotel in Doha is Movenpick Hotel Doha.
------------
Retrieving Results for Index 324: Noumea
Closest Hotel in Noumea is Hôtel Le Lagon.
------------

In [7]:
# Validating Hotel Names were printed to dataframe.
hotel_df.head()

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed,Hotel Name
109,Salalah,0,OM,1619134885,69,17.0151,54.0924,80.60,3.44,
149,Yangjiang,0,CN,1619134943,78,21.8500,111.9667,76.53,2.57,
218,Doha,0,QA,1619135045,53,25.2867,51.5333,82.99,1.14,
324,Noumea,0,NC,1619135198,74,-22.2763,166.4572,82.00,3.44,

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [9]:
# Add marker layer ontop of heat map
fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))